* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
}
header {
    background-color: rgb(9, 9, 59);
    height: 65px;
    display: flex;
    max-width: 425px;
    margin: 0 auto;
}

.container_titulo {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1 {
    color: white;
    font-size: 3rem;
}

.container_logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 10rem;
}


main {
    margin-top: 50px;
    max-width: 425px;
    margin: 0 auto;
}
section {
    margin-top: 25px;
}

.container_titulo_masajes{
    display: flex;
    justify-content: center;
    width: 100%;
}

h2 {
    font-size: 2.2rem;
}
.container {
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
}



.container_titulo_problema {
    display: flex;
    justify-content: center;
}
.container_select {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
select {
    font-size: 2rem;
}

.container_input {
    display: flex;
    justify-content: center;
}
input {
    font-size: 2rem;
}

.masajeUnoColor {
    filter: drop-shadow(1px 1px 6px rgb(26, 26, 142));
}
.masajeTresColor {
    filter: drop-shadow(1px 1px 6px rgb(26, 26, 142));
}
.masajeCuatroColor {
    filter: drop-shadow(1px 1px 6px rgb(26, 26, 142));
}
.masajes {
    width: 8.2rem;
    height: 8.2rem;
    filter: drop-shadow(1px 1px 6px white)
}


